/*
 Theme Name:   bellonch.com
 Description:  bellonch.com wordpress theme
 Author:       Albert Bellonch
 Author URI:   http://bellonch.com
 Template:     wordpress-bootstrap
 Version:      1.0.0
 Tags:
 Text Domain:
*/

@import url("../wordpress-bootstrap/style.css");
