<head>
  {% if site.mode == 'production' %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S0LPZSR28D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-S0LPZSR28D');
  </script>
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="stylesheet" href="{% ministamp _tmp/application.css assets/application.css %}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend:
    site.baseurl | prepend: site.url }}" />
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/common/favicon.ico' | relative_url }}" />

  {% minibundle js %}
  source_dir: assets/javascripts
  destination_path: assets/application
  baseurl: '{{ site.baseurl }}/'
  assets:
  - vendor/jquery-2.1.3
  - vendor/jquery.smoothState
  - application/main
  async: true
  {% endminibundle %}
</head>