/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    
}



/**
 * Links
 */
a {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: inherit;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
@media screen and (min-width: 900px){
    .post{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        img{
            margin-left: -15%;
            min-width: 130%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Fonts
 */
@font-face {
    font-family: 'akzidenz-grotesk';
    src: url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.eot');
    src: url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.woff2') format('woff2'),
         url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.woff') format('woff'),
         url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.ttf') format('truetype'),
         url('/assets/fonts/ag/akzidenz_grotesk_black-webfont.svg#akzidenzgroteskregular') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk';
    src: url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.eot');
    src: url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.woff2') format('woff2'),
         url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.woff') format('woff'),
         url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.ttf') format('truetype'),
         url('/assets/fonts/ag/akzidenz_grotesk_roman-webfont.svg#akzidenzgroteskregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk';
    src: url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.eot');
    src: url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.woff2') format('woff2'),
         url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.woff') format('woff'),
         url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.ttf') format('truetype'),
         url('/assets/fonts/ag/akzidenz_grotesk_light-webfont.svg#akzidenzgroteskregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk';
    src: url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.eot');
    src: url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.woff') format('woff'),
         url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/ag/akzidenz_grotesk_bold-webfont.svg#akzidenzgroteskregular') format('svg');
    font-weight: 700;
    font-style: normal;
}