/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    display: flex;
    font-size: $small-font-size;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    justify-content: space-between;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -0.5px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-navigation {
    display: flex;
    justify-content: space-between;

    a.next{
      text-align: center;
    }
}

/**
 * Home
 */

body.home_page{
    animation: bgcolor 7s infinite;
    background-color: #C8F5FF;
    @media screen and(min-width: 992px){
        overflow: hidden;
        .site-footer{
            border: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        .footer-wrapper{
            width: 35%;
        }
    }
}
@include keyframes(bgcolor) {
  0% {
    background-color: #C8F5FF;
  }
  50% {
    background-color: #C8FFED;
  }
  100% {
    background-color: #C8F5FF;
  }
}
.site-header{
    padding: 18px 0;
}
.site-title{
    font-family: 'harriet-display';
    font-size: 21px;
    font-weight: 700;
    color: $text-color;
    &:hover{
        color: $text-color;
    }
}
.home-bg-image{
    position: absolute;
    right: 22%;
    top: 10px;
    opacity: 0.4;
}
.main-intro{
    position: relative;
    h1{
        max-width: 670px;
        font-weight: 300;
        font-size: 30px;
        @include media-query($on-palm){
            font-size: 24px;
        }
        a{
            border-bottom: 1px solid rgba(0,0,0, 0.5);
            color: $text-color;
            img{
                position: absolute;
                top: 150px;
                left: 530px;
                opacity: 0;
                width: 500px;
                z-index: -1000;
                @include transition(all, 0.4s, ease-in-out);
            }
            @include media-query($on-palm){
              img{
                display: none;
              }
            }
            &:hover{
              @media screen and(min-width: 992px){
                img{
                    opacity: 0.7;
                }
              }
            }
        }
    }
}
.articles-bar{
    color: rgba(0,0,0, 0.5);
    border-left: 1px solid rgba(0,0,0, 0.1);
    padding: 0 30px;
    @include transition(all, 0.4s, ease-in-out);
    @media screen and(min-width: 992px){
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
        overflow: scroll;
        z-index: 1;
    }
    .articles-title a{
        color: rgba(0,0,0, 0.5);
    }
    .post-list{
        margin-top: 40px;
    }
    .post{
        border-bottom: 1px solid rgba(0,0,0, 0.1);
        margin-bottom: 0;
        @include transition(all, 0.2s, ease-in-out);
        a{
            color: rgba(0,0,0, 0.5);
            &:hover{
                color: $text-color;
            }
        }
    }
    .post-title{
        font-size: 21px;
        line-height: 1.4;
    }
    .more-posts{
        padding-bottom: 30px;
    }
    .more-link{
        font-size: 42px;
        line-height: 10px;
        font-family: 'harriet-display';
        color: rgba(0,0,0, 0.2);
        &:hover{
            color: $text-color;
        }
    }
    &:hover{
        background-color: white;
        border-color: transparent;
        .articles-title a{
            color: $text-color;
        }
    }
    .articles-title a{
        display: block;
        font-size: 21px;
        font-weight: 700;
        padding: 18px 0;
        @include transition(all, 0.2s, ease-in-out);
    }
}
.articles{
    .post-list{
        max-width: 670px;
    }
    .post-excerpt{
        *{
            font-family: 'akzidenz-grotesk' !important;
            font-weight: normal;
        }
    }
}
footer{
    color: transparentize($text-color, 0.5);
    a{
        color: transparentize($text-color, 0.5);
        &:hover{
            color: $text-color;
        }
    }
    .social-media-list{
        margin-bottom: 0;
        .list-item{
            display: inline-block;
            padding-right: 5px;
            &.designer{
                float: right;
                a{
                    border-bottom: 1px solid rgba(0,0,0, 0.2);
                    padding-bottom: 3px;
                }
            }
        }
        .icon > svg{
            width: 24px;
            height: 24px;
            path{
                fill: rgba(0,0,0, 0.5);
                @include transition(all, 0.2s, ease-in-out);
            }
            &:hover{
                path{
                    fill: rgba(0,0,0, 0.8);
                }
            }
        }
        .contact-email{
            margin-left: 15px;
        }
    }
}
.post-list{
    .post-link{
        color: $text-color;
    }
}
