---
layout: base
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <p class="info">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
        {{ page.author }}{% endif %}{% if page.meta %} •
        {{ page.meta }}{% endif %}
      </p>
      <p class="minutes">
        {{ content | number_of_words | plus:90 | divided_by:180 }} minutes read
      </p>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="post-navigation">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}">
        ←
        <br/>
        {{page.previous.title}}
      </a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}">
        →
        <br/>
        {{page.next.title}}
      </a>
    {% endif %}
  </div>

</div>
